
<div class="nav-living-room"><a href="/">返回首页</a> </div>
<div class="roomno">左屋</div>
<div class="left-room01">
    <div class="bed">
        <div class="up">
            <div class="person">孙奕颖[08.31]</div>
            <div class="no">上</div>
        </div>
        <div class="down">
            <div class="person">史淑琴[09.17]</div>
            <div class="no">下</div>
        </div>
    </div>
    <div class="bed-no">06</div>
</div>

<div class="left-room02">
    <div class="bed">
        <div class="up">
            <div class="person">张楠[09.18]</div>
            <div class="no">上</div>
        </div>
        <div class="down">
            <div class="person">林秋月[09.17]</div>
            <div class="no">下</div>
        </div>
    </div>
    <div class="bed-no">05</div>
</div>

<div class="left-room01">
    <div class="bed">
        <div class="up">
            <div class="person">于晓雪[09.11]</div>
            <div class="no">上</div>
        </div>
        <div class="down">
            <div class="person">赵珍[09.27]</div>
            <div class="no">下</div>
        </div>
    </div>
    <div class="bed-no">07</div>
</div>

<div class="left-room">

</div>

<div class="left-room03">
    <div class="bed">
        <div class="up">
            <div class="person">段畅[10.20]</div>
            <div class="no">上</div>
        </div>
        <div class="down">
            <div class="person">刘欢欢[10.20]</div>
            <div class="no">下</div>
        </div>
    </div>
    <div class="bed-no">08</div>
</div>

<!---------------->
<div class="roomno">右屋</div>
<div class="right-room01">
    <div class="bed-no">01</div>
    <div class="bed">
        <div class="up">
            <div class="no">上</div>
            <div class="person">张弟[09.09]</div>
        </div>
        <div class="down">
            <div class="no">下</div>
            <div class="person">吕红[08.31]</div>
        </div>
    </div>
</div>

<div class="right-room02">
    <div class="bed-no">02</div>
    <div class="bed">
        <div class="up">
            <div class="no">上</div>
            <div class="person">张芳婷[09.08]</div>
        </div>
        <div class="down">
            <div class="no">下</div>
            <div class="person">张震雪[09.19]</div>
        </div>
    </div>
</div>

<div class="right-room">
</div>

<div class="right-room02">
    <div class="bed-no">03</div>
    <div class="bed">
        <div class="up">
            <div class="no">上</div>
            <div class="person">张源[10.19]</div>
        </div>
        <div class="down">
            <div class="no">下</div>
            <div class="person">陈赫[09.15]</div>
        </div>
    </div>
</div>

<div class="right-room03">
    <div class="bed-no">04</div>
    <div class="bed">
        <div class="up">
            <div class="no">上</div>
            <div class="person">段畅[10.20]</div>
        </div>
        <div class="down">
            <div class="no">下</div>
            <div class="person">刘欢欢[10.20]</div>
        </div>
    </div>
</div>

<!--------客厅------------>
<div class="roomno">客厅</div>

<div class="living-room">

    <div class="living-room01">
        <div class="bed">
            <div class="up">
                <div class="person">韩翠玉[09.04]</div>
                <div class="no">上</div>
            </div>
            <div class="down">
                <div class="person">任雯颖[09.05]</div>
                <div class="no">下</div>
            </div>
        </div>
        <div class="bed-no">11</div>
    </div>

    <div class="living-room02">
        <div class="bed">
            <div class="up">
                <div class="person">范文怡[09.19]</div>
                <div class="no">上</div>
            </div>
            <div class="down">
                <div class="person">李爽[09.20]</div>
                <div class="no">下</div>
            </div>
        </div>
        <div class="bed-no">10</div>
    </div>

    <div class="living-room01">
        <div class="bed">
            <div class="up">
                <div class="person" style="background-color: #009900"></div>
                <div class="no">上</div>
            </div>
            <div class="down">
                <div class="person">魏汝欣[09.16]</div>
                <div class="no">下</div>
            </div>
        </div>
        <div class="bed-no">09</div>
    </div>

</div>
