<div class="nav">
    <ul>
        <li><a href="<?php echo site_url('home')?>">首页</a> </li><?php $ClientID=isset($clientinfo[0]['ClientID'])? $clientinfo[0]['ClientID']:set_value('ClientID'); ?>
        <li><a href="<?php echo site_url('cardfee/feelist/'.$ClientID) ?>">水费列表</a> </li>
    </ul>
</div>
<form name="form1" action="<?php echo site_url('cardfee/insert')?>" method="post">
    <div class="editfee">

        <h1>
            <input type="hidden" name="ClientID" value="<?php echo isset($clientinfo[0]['ClientID'])? $clientinfo[0]['ClientID']:set_value('ClientID') ?>">
            <input type="hidden" name="ClientName" value="<?php echo isset($clientinfo[0]['ClientName'])? $clientinfo[0]['ClientName']:set_value('ClientName') ?>">
            <?php echo isset($clientinfo[0]['ClientName'])? $clientinfo[0]['ClientName']:set_value('ClientName') ?>--新增水费记录操作</h1>
        <ul>
            <li>房客姓名：<?php echo isset($clientinfo[0]['ClientName'])? $clientinfo[0]['ClientName']:set_value('ClientName') ?></li>
            <li>身份证号：<input type="hidden" name="IdentityID" value="<?php echo isset($clientinfo[0]['IdentityID'])? $clientinfo[0]['IdentityID']:set_value('IdentityID') ?>"><?php echo isset($clientinfo[0]['IdentityID'])? $clientinfo[0]['IdentityID']:set_value('IdentityID') ?></li>
            <li>入住床号：<input type="hidden" name="BedNo" value="<?php echo isset($clientinfo[0]['BedNo'])? $clientinfo[0]['BedNo']:set_value('BedNo') ?>"> <?php echo isset($clientinfo[0]['BedNo'])? $clientinfo[0]['BedNo']:set_value('BedNo') ?></li>
            <li>水卡号码：<input type="hidden" name="CardNo" value="<?php echo isset($clientinfo[0]['CardNo'])? $clientinfo[0]['CardNo']:set_value('CardNo') ?>"><?php echo isset($clientinfo[0]['CardNo'])? $clientinfo[0]['CardNo']:set_value('CardNo') ?></li>
            <li>缴费金额：<input type="text" class="noneempty" name="Money" value="<?php echo set_value('Money')?>"></li><?php echo form_error('Money', '<li class="err">', '</li>') ?>
            <li>其他说明：<textarea name="Remarks"  rows="4" cols="30" ><?php echo set_value('Remarks')?></textarea></li>
            <li style=" padding-left: 100px; margin-top: 60px;"><input class="submit" type="submit" value="提交"></li>
        </ul>
    </div>
</form>