<div class="nav">
    <ul>
        <li><a href="/">首页</a> </li>
        <li><a href="<?php echo site_url('cardfee/editfee/'.$cardfee[0]['FeeID'])?>">编辑</a> </li>
        <li><a href="<?php echo site_url('cardfee/feelist/'.$cardfee[0]['ClientID'])?>">水费列表</a> </li>
    </ul>
</div>
<div class="pagetitle">缴水费信息</div>
<div class="detail">
    <h1>缴费详情</h1>
    <ul>
        <li>房客姓名：<?php echo $cardfee[0]['ClientName']; ?></li>
        <li>身份证号：<?php echo$cardfee[0]['IdentityID']; ?></li>
        <li>入住床号：<?php echo$cardfee[0]['BedNo']; ?></li>
        <li>水卡编号：<?php echo$cardfee[0]['CardNo']; ?></li>
        <li>缴费金额：<?php echo$cardfee[0]['Money']; ?></li>
        <li>备注说明：<?php echo $cardfee[0]['Remarks']; ?></li>
        <li>最后更新：<?php echo $cardfee[0]['ModDate']; ?></li>
        <li>更新人员：<?php echo $cardfee[0]['Editor']; ?></li>
    </ul>
</div>
